* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	width: 100vw;
	min-height: 100vh;
}

body {
	color: #000;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
}
